# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
*.cover

# Node
node_modules/
dist/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
